* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    -webkit-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

a {
    text-decoration: none;
    color: #111;
    background-color: transparent;
}

a:hover {
    color: #ccc;
}

a:hover,
:active {
    outline: 0;
}

[hidden],
template {
    display: none;
}

h1 {
    font-weight: 600;
    font-size: 2.6em;
    overflow: hidden;
    padding-bottom: 5px;
}

h4 {
    font-size: 1.29rem;
}

.mb-4 {
    margin-bottom: 2rem !important;
}

p {
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 30px;
    font-size: 0.8rem;
}

p span {
    text-decoration: underline;
    color: rgb(104, 201, 230);
}

.btn {
    background: var(--white);
    border: 1px solid #ccc;
    font-size: 0.65rem;
    padding: 0.46rem 0.4rem;
    width: 100px;
}

#button {
    margin-top: 30px;
    text-align: center;
}

#btn-random {
    width: 125px;
    margin-left: 10px;
}

.header {
    background-color: #e8e8e8;
    padding: 5px 0 0;
    height: 65px;
    border-bottom: 1px solid #999;
    overflow: hidden;
}

.result {
    position: absolute;
    top: 0px;
    width: 100%;
}

.hidden {
    display: none;
}

.head-wrapper {
    margin: 18% auto;
}

.form-control {
    border: 1px solid #40bee4;
    border-radius: 0px;
}

.input-group-addon {
    padding: 8px 12px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #5bcee0;
    border: 1px solid #5bcee0;
    display: table-cell;
}

#wiki {
    position: relative;
    top: 15px;
    color: #5bcee0;
    font-weight: 600;
    overflow: hidden;
}

#input {
    position: relative;
    top: -20px;
}

.cursor-search {
    cursor: pointer;
}


/* style for result */

.display-results {
    margin-top: 20px;
}

.result-list {
    margin-top: 20px;
}

.result-title a {
    color: #2619AF;
    line-height: 1.2em;
    font-size: 18px;
    text-decoration: none;
}

.result-title a:hover {
    text-decoration: underline;
}

.result-title a:visited {
    color: #670199;
}

.result-snippet {
    color: #545454;
}

.result-9 {
    margin-bottom: 5em;
}

.searchmatch {
    font-weight: bold;
}

.result-metadata {
    color: #078307;
}

.credit {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
}

.credit a {
    text-decoration: none;
}

.error {
    margin-top: 4em;
    line-height: 20px;
}

.error p {
    line-height: 10px;
}

.keyword {
    font-weight: bold;
}